.about {
  background: rgba(9, 9, 121, 20);
  background: linear-gradient(
    54deg,
    rgba(9, 9, 121, 1) 31%,
    rgba(9, 48, 121, 1) 80%
  );

  h1 {
    padding-top: $xl-size;
  }
  p,
  h3 {
    color: darken($less-white, 5);
  }
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $xl-size;
  width: 90vw;
}

.about__tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  color: #111111;
}

.about__icon {
  font-size: $l-size;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.about__tag {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: darken($less-white, 20);
  margin: 0.25rem;
  border-radius: 5px;
  padding-right: 0.95rem;
}

.about__writeup {
  padding: $s-size $m-size;
}

.about__headline {
  font-size: 2rem;
}

.about__list {
  margin-bottom: $m-size;
  margin-left: $m-size;
}
.about__title {
  color: $less-white;
  font-size: 2rem;
  margin-bottom: $s-size;
  margin-top: $m-size;
  font-weight: 400;
}

.about__caption {
  color: $less-white;
  font-size: $m-size;
  align-items: center;
}

@media (min-width: 875px) {
  .about__container {
    width: 75vw;
  }

  .about__image {
    display: flex;
    justify-content: center;
    margin: $m-size;
  }

  .about__paragraph {
    margin-top: 0;
  }

  .about__tags {
    padding: 0 12%;
  }
}
