.blog {
  min-height: 100vh;
  padding-bottom: $xl-size;
}

.blog__list,
.blog__post {
  background: lighten($nude, 9);
  border-radius: 10px;
  box-shadow: -1px 5px 10px 0px rgba(0, 0, 0, 0.21);
  padding: $m-size;
  width: 75vw;
  margin: 0 auto;
}

.blog__subtitle {
  color: $almost-black;
  letter-spacing: 2px;
  text-decoration: underline;
  font-weight: 300;
}
.blog__title {
  color: $navy;
  padding-bottom: $s-size;
}

.blog__date {
  color: $less-black;
  font-style: italic;
}

.blog__excerpt {
  color: $almost-black;
  padding-top: $s-size;
}

.blog__body {
  padding-top: $m-size;
  line-height: 1.6;
}

@media (min-width: $desktop-breakpoint) {
  .blog__list,
  .blog__post {
    width: 65vw;
  }
}
