.blog {
  background: lighten($nude, 9);
  border-radius: 10px;
  box-shadow: -1px 5px 10px 0px rgba(0, 0, 0, 0.21);
  margin: 0 auto;
  max-width: 90vw;
}

.blog__list,
.blog__post {
  padding: $m-size;
  h1 {
    color: $navy;
    margin: 0;
    padding-top: $m-size;
  }
  h3 {
    margin: 0;
  }

  li {
    list-style: none;
    font-weight: 100;
  }
}

.blog__list {
  > div:not(:last-child) {
    border-bottom: 0.5px solid lighten($less-black, 10);
    padding-bottom: $m-size;
  }
}

.blog__nav {
  position: relative;
  height: 10vh;
  h3 {
    margin: 0;
  }
}

.blog__icon {
  font-size: 2.5rem;
}

.blog__prev {
  position: absolute;
  bottom: 0;
  left: 0;
}

.blog__next {
  position: absolute;
  bottom: 0;
  right: 0;
}

.blog__featuredImg {
  max-width: 1000px;
  width: 1000px;
}

.blog__search {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.blog__subtitle {
  color: $almost-black;
  letter-spacing: 2px;
  text-decoration: underline;
  font-weight: 300;
  margin: $s-size 0;
}
.blog__title {
  color: $navy;
  padding-bottom: $s-size;
  text-transform: capitalize;
}

.blog__date {
  color: $less-black;
  font-style: italic;
}

.blog__excerpt {
  color: $almost-black;
  padding-top: $s-size;
  span {
    color: $less-black;
  }
  span:hover {
    color: $almost-black;
  }
}

.blog__card {
  display: flex;
  flex-direction: row;
}
.blog__body {
  padding-top: $m-size;
  line-height: 1.6;
}

.blog__tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: $m-size;
}

.blog__tag {
  padding: $s-size;
  background-color: $grey;
  margin-right: $s-size;
  margin-top: $s-size;
  border-radius: 5px;
}

@media (min-width: $desktop-breakpoint) {
  .blog {
    max-width: 65vw;
  }
  .blog__post {
    display: flex;
    flex-direction: column;
    padding: 3.5rem;
  }
  .blog__tags {
    margin: $s-size 0;
  }
  .blog__tag {
    margin-top: 0;
  }
}
