.blog {
  background: lighten($nude, 9);
  border-radius: 10px;
  box-shadow: -1px 5px 10px 0px rgba(0, 0, 0, 0.21);
  margin: 0 auto;
  max-width: 90vw;
}
.blog__list,
.blog__post {
  padding: $m-size;
}

.blog__search {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.blog__subtitle {
  color: $almost-black;
  letter-spacing: 2px;
  text-decoration: underline;
  font-weight: 300;
  margin: $s-size 0;
}
.blog__title {
  color: $navy;
  padding-bottom: $s-size;
  text-transform: capitalize;
}

.blog__date {
  color: $less-black;
  font-style: italic;
}

.blog__excerpt {
  color: $almost-black;
  padding-top: $s-size;
}

.blog__body {
  padding-top: $m-size;
  line-height: 1.6;
}

.blog__tags {
  display: flex;
  flex-direction: row;
  margin: $s-size 0;
}

.blog__tag {
  padding: $s-size;
  background-color: $grey;
  margin-right: $s-size;
  border-radius: 5px;
}

@media (min-width: $desktop-breakpoint) {
  .blog {
    width: 65vw;
  }
}
