.button {
  display: flex;
  justify-content: center;
  background: $navy;
  color: $less-white;
  margin: $s-size;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.button:hover {
  transform: scale(1.1);
  color: $less-white;
}

.button__hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  position: absolute;
  margin: $s-size;
}

.button__animation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 2.85rem;
  height: 0.5rem;
  background: $less-white;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  outline: none;
  border: none;
  box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.21);
}

.button__animation::before,
.button__animation::after {
  content: "";
  position: absolute;
  width: 2.85rem;
  height: 0.5rem;
  background: $less-white;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.21);
}

.button__animation::before {
  transform: translateY(-10px);
}

.button__animation::after {
  transform: translateY(10px);
}

@media (min-width: $desktop-breakpoint) {
  .button {
    align-items: flex-start;
  }
}
