.contact {
  background: lighten($nude, 9);
  border-radius: 10px;
  box-shadow: -1px 5px 10px 0px rgba(0, 0, 0, 0.21);
  margin: 0 auto;
  max-width: 90vw;
}

.contact__twitter {
  a {
    color: $less-white;
  }
  padding: $l-size;
}

@media (min-width: $desktop-breakpoint) {
  .contact {
    max-width: 65vw;
  }
  .contact__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
