.contact {
  margin: 0 auto;
  max-width: 90vw;
  color: $less-white;
}

.contact__container {
  display: flex;
  align-items: center;
  padding: $s-size;
  span {
    color: $less-white;
  }
  span:hover {
    color: $less-white;
  }
}
.contact__socials {
  padding-top: $xl-size;
  display: flex;
  justify-content: space-between;
}

.contact__method {
  font-size: $l-size;
  padding-right: $m-size;
}

.contact__icon {
  color: darken($less-white, 15);
  font-size: $xl-size;
}

.contact__icon:hover {
  color: $less-white;
}

@media (min-width: $desktop-breakpoint) {
  .contact {
    max-width: 65vw;
  }
  .contact__info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
