.footer {
  background: rgb(68, 68, 68);
  background: linear-gradient(
    95deg,
    rgba(68, 68, 68, 1) 60%,
    rgba(85, 85, 85, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__socials {
  display: flex;
  margin-right: $m-size;
}

.footer__social {
  font-size: $l-size;
  margin: $s-size;
  color: darken($less-white, 15);
}

.footer__social:hover {
  color: $less-white;
}

.footer__copyright {
  color: $less-white;
  font-weight: 200;
  color: darken($less-white, 15);
  padding: $m-size;
}

@media (min-width: $desktop-breakpoint) {
  .footer__social {
    margin: $l-size;
    font-size: 3rem;
  }
}
