.intro__test {
  display: flex;
  flex-direction: column;
}

.test {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__name {
  padding-left: $s-size;
  color: $navy;
}

.intro__mapleleaf {
  padding-left: $s-size;
  width: auto;
  max-height: $l-size;
  color: #c1220c;
}

.intro__location {
  padding-right: $s-size;
  color: $navy;
  width: auto;
  max-height: $l-size;
}

.intro__button {
  font-size: $m-size;
  font-weight: 300;
  margin-left: $l-size;
}

@media (min-width: $desktop-breakpoint) {
  .intro {
    font-size: 3rem;
  }
  .intro__button {
    font-size: 2rem;
  }
}
