.intro {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 $xl-size;
  h1 {
    font-size: 4rem;
  }
}

.intro__name {
  color: $navy;
}

.intro__mapleleaf {
  color: #c1220c;
}

.intro__location {
  color: $navy;
}
