.intro {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 $xl-size;
}

.intro__blurb {
  p {
    font-size: 4rem;
    color: $font-color;
    font-weight: 400;
    margin: $l-size;
  }
}

.intro__name {
  color: $navy;
}

.intro__mapleleaf {
  color: #c1220c;
}

.intro__location {
  color: $navy;
}

.intro__button {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 2px;
}
