.menu__nav {
  visibility: hidden;
  width: 100vw;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out,
    visibility 0.3s;
}

.menu__nav.active {
  width: 100vw;
  opacity: 1;
  visibility: visible;
}

.menu {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.menu__list {
  padding: $s-size;
  background-color: $navy;
  position: absolute;
  left: 0;
  top: 0;
  list-style: none;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  a {
    color: $font-color;
  }
}

.menu__button {
  position: relative;
  outline: none;
  border: none;
  padding: $s-size;
  padding-left: $m-size;
  font-size: 2.5rem;
  color: $font-color;
  // background-color: $navy;
  cursor: pointer;
}
