.menu__nav {
  visibility: hidden;
  width: 100vw;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out,
    visibility 0.3s;
}

.menu__nav.active {
  width: 100vw;
  opacity: 1;
  visibility: visible;
}

.menu {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.menu__item {
  padding: $m-size;
}

.menu__list {
  padding: $xl-size;
  background-color: $navy;
  position: absolute;
  left: 0;
  top: 50%;
  list-style: none;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  width: 100vw;
  height: 100vh;
  a {
    color: $font-color;
  }
}

.menu__button {
  display: flex;
  width: 100vw;
  background: $navy;
  position: relative;
  outline: none;
  border: none;
  padding: $s-size;
  font-size: 2.5rem;
  color: $font-color;
  cursor: pointer;
  z-index: 2;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out, visibility 0.3s;
}

.menu__button:active {
  transform: rotate(180deg), trnslateX(-6px);
}

@media (min-width: $desktop-breakpoint) {
  .menu__button {
    background: transparent;
    padding: $m-size;
    width: 100%;
  }

  .menu__item {
    padding: 0;
  }

  .menu__list {
    padding: $m-size;
    background-color: $navy;
    position: absolute;
    left: 0;
    top: 0;
    list-style: none;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    height: 50%;
    a {
      color: $font-color;
    }
  }
}
