.menu {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.menu__button.clicked .button__animation {
  transform: translateX(-50px);
  background: transparent;
}

.menu__button.clicked .button__animation::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu__button.clicked .button__animation::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.menu__nav {
  visibility: hidden;

  width: 100vw;
  opacity: 0;
  transition: opacity 1s ease-in, opacity 0.5s ease-out,
    transform 0.5s ease-in-out, visibility 0.5s;
}

.menu__nav.clicked {
  width: 100vw;
  opacity: 1;
  visibility: visible;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(9, 9, 121, 20);
  background: linear-gradient(
    54deg,
    rgba(9, 9, 121, 1) 31%,
    rgba(9, 48, 121, 1) 80%
  );
  position: fixed;
  list-style: none;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100vw;
  height: 100vh;
  a {
    color: $less-white;
  }
}

.menu__animation {
  font-size: 5rem;
}

.menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 2s ease-in-out, transform 0.5s ease-in-out,
    visibility 0.5s;
}
.menu__item:hover,
.menu__animation:hover {
  transform: scale(1.1);
}

@media (min-width: $desktop-breakpoint) {
  .menu__animation {
    font-size: 2.2rem;
  }
  .menu__list {
    list-style: none;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    height: 8rem;
    a {
      color: $less-white;
    }
  }
}

.menu__list {
  box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.21);
}
