.mini-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  //   padding-bottom: $l-size;
  padding: 0 $l-size 0 $l-size;
  text-align: center;
}

.mini-profile-img {
  margin: 2rem;
  width: 200px;
}

.mini-profile-link {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.mini-profile-icon {
  margin: 0 0.5rem;
}
