.projects {
  padding: $xl-size 0;
}

.project {
  align-items: center;
  background: lighten($nude, 9);
  border-radius: 10px;
  box-shadow: -1px 5px 10px 0px rgba(0, 0, 0, 0.21);
  display: flex;
  flex-direction: column-reverse;
  margin: $m-size auto;
  padding: $m-size;
  width: 90vw;
}

.project__writeup {
  min-width: 200px;
  margin: 0 $s-size $s-size $s-size;
}

.project__title {
  font-size: 2.3rem;
  color: $navy;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.project__stack {
  margin: $xs-size 0;
  display: flex;
  align-items: center;
}

.project__icon {
  margin-right: $s-size;
  font-size: $l-size;
  color: #333444;
}

.project__details {
  padding-bottom: $s-size;
  li {
    margin-bottom: $s-size;
  }
}

.project__stackName {
  font-size: $m-size;
  margin: 0;
}

.project__image {
  margin-bottom: $m-size;
  display: flex;
  align-items: center;
  max-width: 85vw;
  height: auto;
}

.project__links {
  display: flex;
  flex-direction: column;
}
.project__github {
  margin-right: $s-size;
}

@media (min-width: 1000px) {
  .project {
    display: flex;
    flex-direction: row;
    padding: 1.6rem;
    max-width: 105rem;
  }

  .project__image {
    min-width: 400px;
    max-width: 600px;
    height: auto;
  }

  .project__writeup {
    margin: $l-size;
  }

  .project__links {
    flex-direction: row;
  }
  .project__details {
    padding-bottom: $xl-size;
  }
}
