@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

a {
  color: $less-black;
  text-decoration: none;
}

a:hover {
  color: $almost-black;
  cursor: pointer;
}

a:active {
  color: $almost-black;
}
body {
  background-color: $nude;
  font-family: "Roboto", sans-serif;
  font-size: $m-size;
  word-wrap: break-word;
  font-weight: normal;
}

button {
  cursor: pointer;
}

h1 {
  color: $less-white;
  font-weight: bold;
  font-weight: 400;
  margin: 0;
}

h2,
h3,
h4 {
  font-weight: 400;
}

p {
  color: $almost-black;
  font-weight: 400;
  font-size: $m-size;
  margin: 0;
}

textarea {
  min-height: 15rem;
}

ul {
  margin: 0;
  padding-left: $m-size;
}

.title {
  text-align: center;
  color: $less-white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

::placeholder {
  color: rgb(138, 138, 138);
}
