//COLOURS
$almost-black: #444444;
$less-white: darken(#ffffff, 2);
$less-black: #646464;
$grey: #a0a0a0;
$yellow: #f3bd37;
$nude: #e0bd9d;
$navy: #090979;

//SPACING
$xs-size: 0.5rem;
$s-size: 0.8rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 3.6rem;
$desktop-breakpoint: 45rem;
